[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/chalk"]
	path = themes/chalk
	url = https://github.com/ph-ph/chalk.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
