{{ define "main" }}
<article class="article article-main">
  <h1>{{ .Title }}</h1>
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <p class="article-time"><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> • {{ .ReadingTime }} min read</p>
  <div class="content">
  {{ .Content }}
  </div>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</article>
  <!-- {{ if eq .Page.File.BaseFileName "about" }}
     {{ partial "webring-out.html" . }}
  {{ end }} -->
{{ end }}