body {
    background-color: #000;
    color: #e0e0e0; /* Softer white for less strain */
    
    padding: 1rem; /* Add spacing around the page */
    
    line-height: 1.70; /* For text readability */
}

.container{
    padding: 1.2rem;
}

.navbar {
    padding: 10px 20px;
    margin: 2px;
    font-size: 1.3rem;
}

.navbar-brand {
    font-size: 2.5rem;
}

img {
    max-width: 100%; /* Prevent overflow */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center images */
    padding: 2.5px;
}

/* Hide images in Home/List article summaries */
.summary img {
    display: none;
}

h1, h2, h3 {
    color: #fff; /* Pure white for contrast */
    font-weight: 600;

    margin-top: 15px;
    margin-bottom: 12px;
}


a {
    color: #ddd;  /* Soft gray to blend in */
    text-decoration: none;
    border-bottom: 1px dashed #444; /* Subtle underline */
}

a:hover {
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.tags {
    padding-top: 10px;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #888;
}

.article-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.article-list-item {
    padding-bottom: 10px;
}

.article-time {
    font-size: 14px;
    color: #888;
    margin-top: -5px;
}


/* For openring suggestion sections */
.webring {
    margin-top: 20px;
}

.webring .articles {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}

.webring .article {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    min-width: 10rem;
}

.webring .summary {
    font-size: 0.8rem;
    flex: 1 1 0;
}