<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="Blog, Technology">
<meta name="author" content="Ahanaf Taskin Ar-Rafee">
<meta name="description" content="">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}/index.xml">
{{ partialCached "head/css.html" . }}
<!-- {{ partialCached "head/js.html" . }} -->
