<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="Blog, Technology">
<meta name="author" content="{{ .Site.Params.author.name }}">
<meta name="description" content="{{ .Site.Params.description }}">

<meta property="og:title" content="{{ .Title }}" />
{{ if eq .Kind "page" }}<meta property="og:type" content="article" />
<meta property="og:description" content="{{ .Summary }}" />
{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.Params.ogImage }}" />
<meta property="og:image:alt" content="{{ .Site.Params.ogImagealt }}" />
<meta name="fediverse:creator" content="{{ .Site.Params.fediCreator }}" />

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="icon" type="image/svg+xml" href="favicon.svg">
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}/index.xml">
{{ partialCached "head/css.html" . }}
<!-- {{ partialCached "head/js.html" . }} -->