
<section class="webring">
  <h2>Articles from blogs I read</h2>
  <section class="articles">
    
    <div class="article">
      <h4 class="title" dir="auto">
        <a href="https://emersion.fr/blog/2025/status-update-74/" target="_blank" rel="noopener">Status update, March 2025</a>
      </h4>
      <p class="summary" dir="auto">Hi all!
This month I’ve finally finished my initial work on HDR10 support for wlroots!
My branch supports playing both SDR and HDR content on either an SDR or HDR
output. It’s a pretty basic version: wlroots only performs very basic gamut
mapping, and has a s…</p>
      <small class="source">
        via <a href="https://emersion.fr/blog/">emersion</a>
      </small>
      <small class="date">March 16, 2025</small>
    </div>
    
    <div class="article">
      <h4 class="title" dir="auto">
        <a href="https://go.dev/blog/osroot" target="_blank" rel="noopener">Traversal-resistant file APIs</a>
      </h4>
      <p class="summary" dir="auto">New file access APIs in Go 1.24.</p>
      <small class="source">
        via <a href="https://blog.golang.org/feed.atom">The Go Blog</a>
      </small>
      <small class="date">March 12, 2025</small>
    </div>
    
    <div class="article">
      <h4 class="title" dir="auto">
        <a href="https://aphyr.com/posts/380-comments-on-executive-order-14168" target="_blank" rel="noopener">Comments on Executive Order 14168</a>
      </h4>
      <p class="summary" dir="auto">Submitted to the Department of State, which is requesting comments on a proposed change which would align US passport gender markers with executive order 14168.
Executive order 14168 is biologically incoherent and socially cruel. All passport applicants sh…</p>
      <small class="source">
        via <a href="https://aphyr.com/">Aphyr: Posts</a>
      </small>
      <small class="date">February 21, 2025</small>
    </div>
    
  </section>
</section>